$mobile: 480px;
$tablet767: 767px;
$tablet768: 768px;
$laptopmini991: 992px;
$laptopmini992: 992px;
$laptop: 1024px;
$desktop: 1200px;

.worksection-section {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./../img/howwork.png) no-repeat center center;
    background-size: cover;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .worksection-inner {
    .worksection-box {
      background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
      padding: 2px;
      border-radius: 18.41px;
      display: inline-block;
      margin-bottom: 30px;
      .worksection-content {
        border-image-slice: 1;
        // backdrop-filter: blur(20.9px);
        // -webkit-backdrop-filter: blur(20.9px);
        background: rgb(16, 16, 16);
        padding: 30px 15px;
        border-radius: 19.41px;
        background-clip: padding-box;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .worksection-text-left {
          position: relative;
          padding: 0 8px;
          &::before {
            position: absolute;
            content: "";
            right: 1px;
            top: 50%;
            background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
            width: 1px;
            height: 90px;
            display: block;
            transform: translate(0, -50%);
          }
          width: 50%;
          h5 {
            background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: Poppins;
            font-weight: 700;
            font-size: 25px;
            line-height: 33.14px;
            letter-spacing: 0%;
            text-align: center;
            @media (max-width: $tablet767) {
              font-size: 20px;
            }
          }
        }
        .worksection-text-right {
          width: 100%;

          p {
            color: #fff;
            @media (max-width: $tablet767) {
              font-size: 12px;
              text-align: left;
              line-height: 1.8;
            }
          }
        }
      }
    }
  }
}
