$mobile: 480px;
$tablet767: 767px;
$tablet768: 768px;
$laptopmini991: 992px;
$laptopmini992: 992px;
$laptop: 1024px;
$desktop: 1200px;

.Banner-section {
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../../component/img/bannermainimg.png") no-repeat center
      center;
    background-size: cover;
    z-index: 0;
    opacity: 0.6;
  }

  .banner-content {
    h1 {
      background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: League Spartan;
      font-weight: 600;
      font-size: 75px;
      line-height: 1.5;
      vertical-align: middle;
      @media (max-width: $tablet767) {
        font-size: 35px;
        line-height: 1.5;
        text-align: center;
      }
      @media (min-width: $tablet767) and (max-width: $laptopmini991) {
        font-size: 55px;
        line-height: 1.5;
        text-align: center;
      }
    }
    h6 {
      font-family: League Spartan;
      font-weight: 600;
      font-size: 40px;
      line-height: 1.2;
      vertical-align: middle;
      color: rgba(217, 217, 217, 1);
      margin-bottom: 10px;
      @media (max-width: $tablet767) {
        font-size: 15px;
        line-height: 1.2;
        text-align: center;
      }
      @media (min-width: $tablet767) and (max-width: $laptopmini991) {
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
      }
    }
    p {
      color: rgba(255, 255, 255, 1);
      @media (max-width: $tablet767) {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
      }
    }
    .btn-area {
      @media (max-width: $tablet767) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .row {
    position: relative;
    z-index: 1;
  }
}
