$mobile: 480px;
$tablet767: 767px;
$tablet768: 768px;
$laptopmini991: 992px;
$laptopmini992: 992px;
$laptop: 1024px;
$desktop: 1200px;

.framework-section {
  .framework-inner {
    .framework-left {
      .heading-section {
        .heading-tag {
          @media (max-width: $tablet767) {
            font-size: 25px;
          }
        }
      }
      ::-webkit-scrollbar {
        width: 10px;
        height: 150px;
      }
      ::-webkit-scrollbar-track {
        background: #252e29;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(270deg, #56c690 0%, #f4ce14 100%);
        border-radius: 10px;
      }
      .framework-content {
        height: 300px;
        overflow-y: scroll;
        transition: all 0.3s;
        padding: 20px;
        overflow-y: auto;
        @media (max-width: $tablet767) {
          height: auto;
          padding: 20px 0;
        }

        ul {
          li {
            font-family: Poppins;
            font-weight: 400;
            font-size: 17.49px;
            line-height: 25.78px;
            letter-spacing: 0.2px;
            vertical-align: middle;
            color: #ffffff;
            padding-left: 20px;
            margin-bottom: 10px;
            @media (max-width: $tablet767) {
              font-size: 12px;
              line-height: 1.5;
            }
            span {
              width: 14px;
              height: 14px;
              background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
              border-radius: 50%;
              display: inline-block;
              margin-right: 10px;
              margin-left: -20px;
              @media (max-width: $tablet767) {
                width: 10px;
                height: 10px;
                margin-bottom: -1px;
              }
            }
          }
        }
      }
    }

    .framework-right {
      .framework-content {
        ul {
          li {
            font-family: Poppins;
            font-weight: 400;
            font-size: 17.49px;
            line-height: 25.78px;
            letter-spacing: 0.2px;
            vertical-align: middle;
            color: #ffffff;
            padding-left: 20px;
            margin-bottom: 10px;
            @media (max-width: $tablet767) {
              font-size: 12px;
              font-weight: 600;

            }
            .bull {
              width: 14px;
              height: 14px;
              background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
              border-radius: 50%;
              display: inline-block;
              margin-right: 10px;
              margin-left: -20px;
              @media (max-width: $tablet767) {
                width: 10px;
                height: 10px;
                margin-bottom: -1px;
              }
            }
            .highlight {
              color: #56c690;
            }
          }
        }
      }
      .heading-section {
        .heading-tag {
          @media (max-width: $tablet767) {
            font-size: 25px;
          }
        }
      }
    }
  }
}
