.whychoose-section {
  .whychoose-inner {
    padding: 20px;
    background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
    padding: 2px;
    border-radius: 18.41px;
    .border-bg {
      border-image-slice: 1;
      background: rgb(16, 16, 16);
      padding: 30px;
      border-radius: 19.41px;
      background-clip: padding-box;
    }
    .whychoose-left {
      padding-right: 15px;
    }
  }
}
