$mobile: 480px;
$tablet767: 767px;
$tablet768: 768px;
$laptopmini991: 992px;
$laptopmini992: 992px;
$laptop: 1024px;
$desktop: 1200px;
$closeimg: "../img/close.png";
// $closeimg(./)

.header-part {
  .navbar {
    .navbar-toggler {
      background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
      padding: 10px;
      width: 41px;
      height: 41px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: $laptopmini992) {
        display: none;
      }
    }
    .navbar-brand {
      .logo {
        height: 80px;
      }
      @media (min-width: $laptopmini992) and (max-width: $desktop) {
        img {
          width: 150px;
        }
      }
    }
    .main-btn {
      @media (min-width: $laptopmini992) and (max-width: $desktop) {
        font-size: 12px;
        padding: 10px 12px;
      }
    }
  }
  .nav-link {
    font-family: Poppins;
    font-weight: 700;
    font-size: 15.24px;
    line-height: 100%;
    vertical-align: middle;
    color: rgba(217, 217, 217, 1);

    @media (min-width: $laptopmini992) and (max-width: $desktop) {
      font-size: 12px;
    }
  }

  .footer-section {
    @media (min-width: $laptopmini992) {
      display: none;
    }
  }
}

.offcanvas {
  background: #000 !important;
  width: 100% !important;
  .logo {
    @media (max-width: $laptopmini991) {
      height: 60px;
    }
  }
  .offcanvas-header {
    border: 1px solid transparent;
    border-image: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
    border-image-slice: 1;
    .btn-close {
      background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
      opacity: 1;
     position: relative;
     &::before{
        content: '';
        background: url(#{$closeimg}) no-repeat center center;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
     }
    }
  }
  .offcanvas-body {
    .nav-link {
      @media (max-width: $laptopmini991) {
        font-size: 25px;
        font-weight: 700;
        line-height: 100%;
        color: rgba(217, 217, 217, 1);
        padding: 20px 0;
      }
    }
    .main-btn {
      display: none;
      @media (min-width: $laptopmini992) {
        display: block;
      }
    }
    .footer-section {
      background: transparent;
      padding: 30px 0px 10px;

      .copyright {
        br {
          display: none !important;
        }
      }
      .social-link {
        margin-bottom: 15px;
        ul {
          li {
            display: inline-block;
            margin: 0 10px;
          }
        }
        img {
          height: 35px;
          width: 35px;
        }
      }
    }
  }
}
