@import url(./fonts/poppins.css);
@import url(./fonts/LeagueSpartan.css);
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background: rgba(0, 0, 0, 1) !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-style: normal;
  overflow-x: hidden;
  position: relative;
  line-height: 1.5;
  
  padding-right: 0px !important;
  font-family: "Poppins", sans-serif;
}
.main-btn {
  background: linear-gradient(270deg, #56c690 0%, #f4ce14 100%);
  box-shadow: 0px 1.69px 21.16px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1.69px 8.46px 0px rgba(0, 0, 0, 0.4);
  color: #000;
  padding: 15px 25px;
  border-radius: 54px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 12.7px;
  line-height: 100%;
  letter-spacing: 0.42px;
  text-align: center;
  vertical-align: middle;
}
.main-btn svg {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.main-btn:hover{
  background: linear-gradient(92deg, #56c690 0%, #f4ce14 100%);
}
.gray-btn {
  background: rgba(38, 38, 38, 1);
  box-shadow: 0px 5px 15px 0px #00000059;
  color: rgba(255, 255, 255, 1);
  padding: 15px 25px;
  border-radius: 54px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 12.7px;
  line-height: 100%;
  letter-spacing: 0.42px;
  text-align: center;
  vertical-align: middle;
  border-width: 1px;

  border: 1px solid #fff ;

}
.gray-btn:hover{
  background-color:#fff ;
}
p{
  font-family: Poppins;
font-weight: 400;
font-size: 15px;
line-height: 30px;
letter-spacing: 0.17px;
vertical-align: middle;
margin-bottom: 0!important;
color: rgba(255, 255, 255, 1);



}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  letter-spacing: 0px;
  margin-bottom: 0!important;
}
ul {
  padding-left: 0px!important;
  list-style: none;
  margin: 0!important;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none!important;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:hover {
  color: #242c46;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
section {
  padding: 100px 0;
}
.heading-section{
margin-bottom: 30px;
}
.heading-title{
  background: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: League Spartan;
  font-weight: 600;
  font-size: 70px;
  line-height: 1.2;
  vertical-align: middle;
  margin-bottom: 15px!important;
  
}

.heading-tag {
  font-family: League Spartan;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  vertical-align: middle;
  color: rgba(217, 217, 217, 1);
  margin-bottom: 10px!important;
}

@media (max-width: 767px) {
  .heading-title{
    font-size: 40px;
  }
  .heading-tag {
    font-size: 22px;
    line-height: 1.5;
}
  section {
    padding: 60px 0;
  }
}
@media (min-width: 767px) and (max-width:991px) {
  .heading-title{
    font-size: 55px;
  }
  .heading-tag {
    font-size: 30px;
    line-height: 1.2;
}
  section {
    padding: 60px 0;
  }
}
@media (min-width: 992px) and (max-width:1200px) {
  .heading-title{
    font-size: 60px;
  }
  .heading-tag {
    font-size: 30px;
    line-height: 1.2;
}
  section {
    padding: 80px 0;
  }
  .nextgen-section .gradient-border .nextgen-box p {
    height: 300px;
}
}