$mobile: 480px;
$tablet767: 767px;
$tablet768: 768px;
$laptopmini991: 991px;
$laptopmini992: 992px;
$laptop: 1024px;
$desktop: 1200px;

.nano-section {
  .row {
    .col-lg-2.col-md-6 {
      &:nth-child(1) {
        h5 {
          color: rgba(255, 255, 255, 1);
        }
        .nano-box {
          background: linear-gradient(
            317.72deg,
            #56c690 -2.29%,
            #f4ce14 111.33%
          );
          img {
            filter: brightness(66.5) contrast(17) invert(20) grayscale(13)
              opacity(1);
          }

          &:hover {
            background: linear-gradient(
              317.72deg,
              #56c690 -2.29%,
              #f4ce14 111.33%
            );
          }
        }
        p {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .nano-box {
    box-shadow: 0px 10.13px 13.62px 6.44px rgba(0, 0, 0, 0.25);
    // border: 0.92px solid;
    border-image-source: linear-gradient(270deg, #56c690 26%, #ffffff 100%);
    background: rgba(255, 255, 255, 1);
    padding: 15px;
    border-radius: 15px;
    height: 285px;
    margin-bottom: 25px;
    @media (min-width: $laptopmini991) and (max-width: $desktop)  {
      height: 377px;

    }
    &:hover {
      background: linear-gradient(317.72deg, #56c690 -2.29%, #f4ce14 111.33%);
      img {
        filter: brightness(66.5) contrast(17) invert(20) grayscale(13)
          opacity(1);
      }

      h5 {
        color: rgba(255, 255, 255, 1);
      }
      p {
        color: rgba(255, 255, 255, 1);
      }
    }
    img {
      margin-bottom: 15px;
      width: 70px;
      height: 70px;
    }

    h5 {
      font-family: Poppins;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0%;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 10px !important;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 17.49px;
      line-height: 25.78px;
      letter-spacing: 0.2px;
      vertical-align: middle;
      color: rgba(0, 0, 0, 1);
    }
    @media (max-width: $tablet767) {
      height: auto;
      padding: 25px 15px;
    }
  }
  .nano-details {
    .row {
      .col-lg-2.col-md-6 {
        @media (min-width: $laptopmini992) {
          width: 20%;
        }
      }
    }
  }
}
